{% load static %}
<html>
  <head>
    <title>
      {% block title %}
      Hendrix D&D Club - Home
      {% endblock %}
    </title>
    {% block resources %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&display=swap" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="shortcut icon" href="{% static 'home/assets/hendrixdnd.ico' %}">
    {% endblock %}
  </head>

  <body>
    {% block navbar %}
        <div class="row">
          <nav class="navbar navbar-default">
            <div class = "navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-items" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          <div class="collapse navbar-collapse" id="nav-items">
              <ul class="nav navbar-nav nav-fill">
                <li><a href="/"> Home </a></li>
                <li class="dropdown">
                   <a href="/members" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Members <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                     <li><a href="/">Find a Game</a></li>
                     <li><a href="/">Find Players</a></li>
                     <li><a href="/">Upcoming Events</a></li>
                   </ul>
                 </li>
                <li><a href="/information"> Information </a></li>
                <li><a href="/services"> Services </a></li>
                <li><a href="/"> Homebrew </a></li>
                <li><a href="/contact"> Contact Us </a></li>
              </ul>
            </div>
          </nav>
        </div>
      {% endblock %}

      {% block content %}
      <div class="row">
        <div class="motto">
          <h1 class="text-center"> RollDRIX </h1>
        </div>
      </div>
      <div id = "picture-montage" class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class = "row">
            <h1 class="text-center"> Add proficiency in RPGs to your character sheet!
          </div>
        </div>
      </div>
      <div class="row">
        <div style="background-color: #171717;" class="row border">
          <div id="border-lines"></div>
          <div class="col-sm-6">
                <p style="color: white;" class="text-center large"><strong>The Hendrix Dungeons and Dragons Club is dedicated to providing resources to make playing TTRPGs easier financially, creatively, and mechanically for the members of the Hendrix Community.</strong></p>
          </div>
          <div class="col-sm-6">
          </div>
        <div id="border-lines"></div>
        </div>
      </div>
    {% endblock %}
  </body>

</html>
