/* Text Headings */
body{
  font-family: 'Cabin', sans-serif;
  font-size: 200%;
}

h1{
  font-family: 'Bebas Neue', cursive;
  font-kerning: auto;
  font-size: 400%;
}

p{
  font-family: 'Cabin', sans-serif;
  font-size: 200%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  vertical-align: middle;
}

/* IDs */
#picture-montage{
  height: 60%;
  background-image: url("assets/placeholder.png");
  background-size: cover;
}


#border-lines{
  width: 70%;
  height: .25em;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #E96B10;
  display: inline-block;
}

/* Classes */
.jumbotron {
  margin: 0px;
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: center center;
  text-align: center;
}

.jumbotron.jumbotron-fluid{
  float: left;
}

.img-fluid{
  background-position: center center;
}

.row-border{
  height: 40%;
  width: 100%;
  background-position: center center;
  text-align: center center;
}


/* Navbar, End of CSS After */
.navbar-toggle {
  margin-left: 15px;
}
.navbar-default {
  background-color: #E96B10;
  border-color: #b85b18;
  margin:0px;
  border-radius: 0px;
  z-index: 10000;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffc8a1;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffc8a1;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #E96B10;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffc8a1;
  background-color: #b85b18;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #b85b18;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffc8a1;
  background-color: #b85b18;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffc8a1;
  background-color: #b85b18;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffc8a1;
  background-color: #b85b18;
}
.navbar-default .navbar-toggle {
  border-color: #b85b18;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #b85b18;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffc8a1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffc8a1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffc8a1;
    background-color: #b85b18;
  }
}

nav ul{
  display: flex;
  justify-content:space-around;
}

nav li{
  width: 100%;
  display: flex;
  padding-right: 10px;
  white-space: nowrap;
}
